<section id="plataforma" class="home-about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-5 align-items-center">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
        <div class="about-image">
          <img src="{{image}}" alt="{{imageAlt}}" class="img-fluid rounded-3 mb-4">
          <div class="experience-badge">
            <span class="years">{{badge.years}}</span>
            <span class="text">{{badge.text}}</span>
          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
        <div class="about-content">
          <h2>{{title}}</h2>
          <p class="lead">{{lead}}</p>
          <p>{{description}}</p>

          <div class="row g-4 mt-4">
            {{#each features}}
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="{{delay}}">
                <div class="feature-item">
                  <div class="icon">
                    <i class="{{icon}}"></i>
                  </div>
                  <h4>{{title}}</h4>
                  <p>{{text}}</p>
                </div>
              </div>
            {{/each}}
          </div>

          <div class="cta-wrapper mt-4">
            {{#each ctas}}
              <a href="{{href}}" class="btn {{className}}">{{label}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-4 certifications-row" data-aos="fade-up" data-aos-delay="600">
      <div class="col-12 text-center mb-4">
        <h4 class="certification-title">{{logos.title}}</h4>
      </div>
      <div class="col-12">
        <div class="certifications">
          {{#each logos.items}}
            <div class="certification-item" data-aos="zoom-in" data-aos-delay="{{delay}}">
              <img src="{{src}}" alt="{{alt}}">
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
